= link_to "#" do
  .card.horizontal.hoverable
    %span.badge.card-badge.new
    .card-stacked
      .card-content
        .row.no-margin
          .col.s12
            %h5.text-color Test Community
        .row.no-margin
          .col.s12.valign-wrapper
            .text-color.valign-wrapper.icon-action
              = icon('fas', 'users')
              65
            .text-color.valign-wrapper.icon-action
              =material_icon.video_library
              30
            .text-color.valign-wrapper.icon-action
              =material_icon.forum
              10
      .card-action
        VISIT COMMUNITY