= link_to new_discussion_path(community_id: @community.id) do
  .card.light-grey.hoverable
    .card-stacked
      .card-content.center
        .row.no-margin
          .col.s12
            %h5.grey-text{style: "margin-top: 0;"}
              = icon('fas', 'comments')
              Start A Discussion
        .row.no-margin
          .col.s12
            %p.grey-text What's on your mind?