= link_to new_community_path do
  .card.light-grey.hoverable
    .card-stacked
      .card-content.center
        .row.no-margin
          .col.s12
            %h5.grey-text
              = material_icon.add_circle
              Start A Community
        .row.no-margin
          .col.s12
            %p.grey-text Find people who love what you love!