= link_to new_community_course_path(@community) do
  .card.light-grey.hoverable
    .card-stacked
      .card-content.center
        .row.no-margin
          .col.s12
            %h5.grey-text{style: "margin-top: 0;"}
              = icon('fas', 'book')
              Create A Course
        .row.no-margin
          .col.s12
            %p.grey-text What do you want to know or share?