.row.course-list-stat.no-margin
  .col.s12.valign-wrapper.justify-right.green-text
    = icon('fas', 'arrow-up', class: 'left')
    %span
      = likes
.row.course-list-stat.no-margin
  .col.s12.valign-wrapper.justify-right.red-text
    = icon('fas', 'arrow-down', class: 'left')
    %span
      = dislikes