.card.hoverable
  .card-content.center
    .row.no-margin
      .col.s12
        .grey-text.truncate
          = locals[:model].pluralize
    .row.no-margin
      .col.s12
        %h5.green-text.center-align{style: "margin-top: 0.5rem; margin-bottom: 0;"}
          +
          = locals[:model].constantize.where('created_at >= ?', 1.week.ago).count
    .row.no-margin
      .col.s12
        .grey-text.center-align{style: "font-size: 0.8rem"}
          Total:
          = locals[:model].constantize.all.count