@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack: 'Open Sans', sans-serif;

$primary-color: #003A6E;
$secondary-color: #44BAF4;
$accent-color: #FECF2F;

$bg-color: #fafafa;
$card-color: #fff;

$green: #2BAD54;
$red: #E83E3E;

.content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  &.top-container {
    margin-top: 70px;
  }
}

.full-width-section {
  width: 100%;
  background-color: lighten($secondary-color, 37%);
  border-bottom: 3px solid $secondary-color;
  &.home-top {
    background-color: darken($bg-color, 10%);
  }
}

h1 {
  font-size: 24px;
  color: $primary-color;
  &#main-headline {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
h2 {
  color: $primary-color;
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: darken($secondary-color, 10%);
}
.material-link {
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 800 !important;
    color: darken($secondary-color, 10%) !important;
}
p {
  color:$primary-color;
}
.field {
  box-sizing: content-box;
  width: 100%;
  input {
    width: 100%;
    box-sizing: border-box;
  }
}
