@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-stack: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 900;


$primary-color: #19508C !default;
$grey-text: rgba(0, 0,0,.54) !default;
$secondary-color: #44BAF4 !default;
$link-color: $secondary-color !default;
$off-black: darken($primary-color, 10%) !default;
$sidenav-font-color: darken($primary-color, 10%) !default;
$card-link-color: #44BAF4 !default;
$accent-color: #FECF2F;

$text-color: #003A6E;
.text-color {
  color: $text-color !important;
}
.primary-text {
  color: $primary-color !important;
}

$bg-color: #fafafa;
$card-color: #fff;
$button-flat-color: $secondary-color !default;

$green-color: #2BAD54;
$red-color: #E83E3E !default;



// Headers
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.3rem !default;

$small-screen: 600px !default;
$large-screen: 1200px !default;

$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

// 13. Navigation Bar
$navbar-height-mobile: 64px !default;
























