// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-stack: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 900;


$primary-color: #19508C !default;
$secondary-color: #44BAF4 !default;
$link-color: #44BAF4 !default;
$card-link-color: #44BAF4 !default;
$accent-color: #FECF2F;

$text-color: #003A6E;

$bg-color: #fafafa;
$card-color: #fff;

$green-color: #2BAD54;
$red-color: #E83E3E !default;

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}
//
// .content-container {
//   max-width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 30px 20px;
//   &.top-container {
//     margin-top: 55px;
//   }
// }
//
// .full-width-section {
//   width: 100%;
//   background-color: lighten($secondary-color, 37%);
//   border-bottom: 3px solid $secondary-color;
//   &.home-top {
//     background-color: darken($bg-color, 10%);
//   }
// }
//
// .material-link {
//     text-transform: uppercase;
//     font-size: 12px;
//     cursor: pointer;
//     padding: 5px;
//     font-weight: 500 !important;
//     color: darken($secondary-color, 10%) !important;
// }
// p {
//   color:$text-color;
// }
// .field {
//   box-sizing: content-box;
//   width: 100%;
//   input {
//     width: 100%;
//     box-sizing: border-box;
//   }
// }
