@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack: 'Open Sans', sans-serif;

$primary-color: #003A6E;
$secondary-color: #44BAF4;
$accent-color: #FECF2F;
$green: #2BAD54;
$red: #E83E3E;

$bg-color: #fafafa;
