@mixin material-high-shadow {
  box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 6px 12px rgba(0,0,0,0.24);
}

@mixin material-medium-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
}

@mixin material-low-shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

@mixin flex-container-centered-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@mixin button-solid-base($color) {
  border-radius: 8px;
  background-color: $color;
  padding: 0px 25px;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken($color, 8%);
  }
  &:active {
    background:darken($color,10%);
  }
}

@mixin button-transparent-base($color, $text-color) {
  border: 2px solid $color;
  border-radius: 8px;
  padding: 10px 25px;
  transition: all 0.3s ease;
  color: $color;
  &:hover {
    background-color: $color;
    color: $text-color;
  }
  &:active {
    background:darken($color,15%);
    border-color: darken($color,15%);
  }

}
