@mixin material-medium-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
}

@mixin material-low-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}

@mixin flex-container-centered-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
