.home-hero {
  display: flex;
  width: 100%;

  .home-video {
    @include material-medium-shadow;
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: content-box;
    margin-right: 20px;
    transition: 0.3s;
    height: 100%;
    border: 1px solid $accent-color;
    img {
      width: 100%;
    }
    &:hover {
      @include material-hover;
    }
  }

  .home-text {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
  }
}
