.home-hero {
  display: flex;
  flex-direction: row;

  .home-video {
    flex-grow: 1;
    @include material-medium-shadow;
    box-sizing: content-box;
    margin-right: 20px;
    transition: 0.3s;
    &:hover {
      @include material-hover;
    }
  }

  .home-text {
    flex-grow: 1;
    height: 100%;
  }
}
