.home-hero {
  .container {
    margin-top: 100px;
  }
  height: 450px;
  @media #{$medium-only} {
    .container {
      margin-top: 75px;
    }
    height: 350px;
  }
  @media #{$small-and-down} {
    .container {
      margin-top: 0px;
    }
    height: 200px;
  }
  background-image: linear-gradient(rgba($primary-color,0.20),rgba($secondary-color,0.1)), url("HeaderImage-8.png");
  //filter: blur(5px);
  background-position: center;
  background-size: cover;
  h2 {
    text-shadow: 0px 0px 10px black;
    font-weight: 500;
    margin: 1.4rem 0 0.1rem 0 !important;
  }
  h5 {
    text-shadow: 0px 0px 5px black;
    margin: 0 !important;
  }
}
.full-width-image {
  @media #{$large-and-up} {
    max-width: 70% !important;
  }

  margin: 0 auto !important;
  float: none;
}