.paper-popup {
  @include material-medium-shadow;
  background-color: white;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: normal;
  }
}
.popup-container {
  display: flex;
  justify-content: center;
}
.form-submit {
  @include material-low-shadow;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  background: darken($secondary-color,10%);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  i {
    margin-right: 5px;
  }
  &:hover {
    cursor: pointer;
    @include material-button-hover;
  }
}
