.profile-pic{
  position: relative;
  display: inline-block;
  &:hover {
    label {
      display: block;
    }
  }
  label {
    &:hover {
      cursor: pointer;
    }
    top: 0;
    left: 0;
    text-align: left;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    i {
      height: 100%;
      width: 100%;
    }
    position: absolute;
    display: none;
    overflow: hidden;
  }
}
.profile-header {
  background-image: linear-gradient(rgba($primary-color,0.20),rgba($secondary-color,0.1)), image_url("HeaderImage-8.png");
  background-position: center;
  background-size: cover;
  h3 {
    color: white !important;
    text-shadow: 0px 0px 10px black;
  }
  span {
    text-shadow: 0px 0px 5px black;
  }
  .profile-pic {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
  }
}