.profile-pic{
  position: relative;
  display: inline-block;
  &:hover {
    label {
      display: block;
    }
  }
  label {
    &:hover {
      cursor: pointer;
    }
    top: 0;
    left: 0;
    text-align: left;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    i {
      height: 100%;
      width: 100%;
    }
    position: absolute;
    display: none;
    overflow: hidden;
  }
}
