

.thumb-header {
  margin-top: 30px;
  margin-bottom: 10px;

  &.first {
    margin-top: 0px;
  }
  a {
    margin-left: 5px;
  }
}

.thumb-row {
  @include flex-container-centered-row;
  width: 100%;
}

.thumb {
  @include material-low-shadow;
  background-color: white;
  margin-right: 20px;
  flex-grow: 1;
  &.last {
    margin-right: 0px;
  }
  &:hover {
    @include material-hover;
  }
}
.thumb-video {
  width: 100%;
}
.thumb-bottom-text {
  display: flex;
  .material-link{
    text-align: right;
    margin: 0;
    flex-basis: 0;
    flex-grow: 2;
  }
  .thumb-rating {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.thumb-text {
  padding: 15px 10px;
  box-sizing: border-box;
  color: $primary-color;
  font-weight: $font-light;
  .thumb-title {
    margin-top: 0;
    font-weight: $font-regular;
  }
  .thumb-rating {
    margin: 0;
  }
  p {
    font-size: 14px;
    i {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .thumb-row {
    flex-wrap: wrap;
  }
  .thumb {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
