.section.home-hero
  .container
    .row
      .col.s12.center-align.white-text
        %h2.flow-text
          This is
          %span.accent-text your
          learning community!
        %h5.flow-text.hide-on-small-and-down
          Lumastic powers
          %span.accent-text lightbulb moments
          to illuminate
          %span.accent-text sparks
    .row
      .col.s6.right-align
        = link_to new_user_registration_path, class: "btn waves-effect" do
          Sign Up
      .col.s6.left-align
        = link_to '#', class: "btn waves-effect dark-button" do
          Start Here
.section
