.section.home-hero
  .container
    - if !current_user
      .row
        .col.s12.center-align.white-text
          %h1.flow-text
            Learn what you
            %span.accent-text love.
          %h5.flow-text.hide-on-small-and-down
            %span.accent-text Connect
            with others.
            %span.accent-text Share
            knowledge.
            %span.accent-text Achieve
            your dreams.
      .row
        .col.s12.center-align
          = link_to new_user_registration_path, class: "btn waves-effect" do
            =icon('fas', 'user-plus', class: "left")
            Find Your Community
        .col.s12.center-align
          = link_to '#story-modal', class: "btn-flat waves-effect white-text modal-trigger" do
            =icon('fas', 'play-circle', class: "left")
            Our story
    - else
      .row
        .col.s12.center-align.white-text
          %h1.flow-text
            Welcome back,
            %span.accent-text= (current_user.display_name != "" ? current_user.display_name : current_user.email) + "!"
          %h5.flow-text.hide-on-small-and-down
            Learn how to contribute and start making lessons.
      .row
        .col.s12.center-align
          = link_to "/member/", class: "btn waves-effect dark-button" do
            GO TO MY PROFILE

#story-modal.modal
  .modal-content
    .row
      .col.s12
        =render 'lessons/videoPlayer', locals: { vid_id: "FYyi3mTyilY", autoplay: "0"}

.section
