.section.home-hero
  .container
    - if !current_user
      .row
        .col.s12.center-align.white-text
          %h2.flow-text
            Learn, Share, & Grow for
            %span.accent-text Free.
          %h5.flow-text.hide-on-small-and-down
            %span.accent-text Explore
            your interests.
            %span.accent-text Cultivate
            your passions.
            %span.accent-text Light
            the way for others.
      .row
        .col.s6.right-align
          = link_to new_user_registration_path, class: "btn waves-effect" do
            =icon('fas', 'user-plus', class: "left")
            Sign Up
        .col.s6.left-align
          = link_to '#story-modal', class: "btn waves-effect dark-button modal-trigger" do
            =icon('fas', 'play-circle', class: "left")
            Our story
    - else
      .row
        .col.s12.center-align.white-text
          %h2.flow-text
            Welcome back,
            %span.accent-text= current_user.display_name != "" ? current_user.display_name : current_user.email
            !
          %h5.flow-text.hide-on-small-and-down
            Learn how to contribute and start making lessons.
      .row
        .col.s12.center-align
          = link_to "https://www.lumastic.com/communities/1/courses/2", class: "btn waves-effect dark-button" do
            CHANGE LIVES

#story-modal.modal
  .modal-content
    .row
      .col.s12
        =render 'lessons/videoPlayer', locals: { vid_id: "FYyi3mTyilY", autoplay: "0"}

.section
