<section class="full-width-section home-top">
  <div class="content-container top-container">
    <div class="home-hero">
      <div class="home-video" >
        <%= image_tag "testimages/ballThumb.jpg"%>
      </div>
      <div class="home-text">
        <h1 id="main-headline">Welcome to Lumastic!</h1>
        <p id="headline-text">
          Lumastic is where students
          and teachers connect, learn and grow together.
          <br>
          <br>
          Our mission is to provide free, quality education for
          everyone while providing teachers with a platform to be valued for their work.
          We enable great academics by providing
          you with the one thing every great student needs,
          a great teacher.
          <br>
          <br>
          Start learning today and join the internet education revolution.
        </p>
      </div>
    </div>
  </div>
</section>
