.section.home-hero
  .container
    .row
      .col.s12.center-align.white-text
        %h2.flow-text Welcome to Lumastic!
        %h5.flow-text
          We're powering
          %span.accent-text lightbulb moments
          to illuminate
          %span.accent-text sparks
    .row
      .col.s6.right-align
        = link_to new_user_registration_path, class: "btn waves-effect" do
          Start Learning
      .col.s6.left-align
        = link_to new_course_path, class: "btn waves-effect dark-button" do
          Create A Course
.section
