<section class="container">
  <div class="content-container top-container">
    <div class="home-hero">
      <div class="home-video" >
        <%= image_tag "testimages/ballThumb.jpg"%>
      </div>
      <div class="home-text">
        <h1 id="main-headline">Welcome to Lumastic!</h1>
        <p id="headline-text">
          Lumastic is where students
          and teachers connect, learn and grow together.
          <br>
          <br>
          Our mission is to create an inclusive, sustainable, and positive evolution in education.
          Our vision is a world in which all are encouraged and enabled to achieve their dreams.
          We've built this platform so teachers can spend
          <br>
          <br>
          Start learning today and join the internet education revolution.
        </p>
      </div>
    </div>
  </div>
</section>
