<div class="tab-container">
  <div id="tabs">
    <a id="tab1-tab" class="active" onclick="tabSwitch(this.id)">Lesson Info</a>
    <a id="tab2-tab" onclick="tabSwitch(this.id)">Materials</a>
    <a id="tab3-tab" onclick="tabSwitch(this.id)">Donate</a>
  </div>
  <div id="tab-highlight" >
    <span></span>
  </div>

  <div class="tab-content-container">
    <div id="tab1" class="active tab-content">
      <div class="tab-content-text">
        This is where the information about the lesson would go.

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <div class="tab-actions">
        <a class="material-link">Course Info</a>
      </div>
    </div>
    <div id="tab2" class="tab-content">
      This is where the information about the materials for the lesson would go.
      <div class="tab-actions">
        <a class="material-link">Class Code</a>
        <a class="material-link">Purchase Course</a>
      </div>
    </div>
    <div id="tab3" class="tab-content">
      To remain free for everyone forever, Lumastic relies on course-purchases and donations to stay in business and pay our teachers.
      <br><br> If we have been valuable to you, consider making a financial donation to us or this teacher directly.
      <div class="tab-actions">
        <a class="material-link">Donate</a>
      </div>
    </div>
  </div>
</div>
