<div class="vid-player-container">

  <div class="vid-iframe-container">
    <div class="vid-overlay-container">
      <div class="vid-text-overlay">How confident are you with this topic already?</div>
      <div class="vid-buttons">
        <button class="vid-button red-vid-button">
          <%= icon("fab", "youtube") %> <br>
          I'm not confident.
        </button>
        <button class="vid-button yellow-vid-button">
          <%= icon("fab", "youtube") %> <br>
          I'm starting to get it.
        </button>
        <button class="vid-button green-vid-button">
          <%= icon("fab", "youtube") %> <br>
          I got this!
        </button>
      </div>
    </div>

    <iframe src="https://www.youtube.com/embed/BBFBODPndPI" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
