.container
  .row.center.section.no-margin
    .col.s12
      %iframe{"src" => "https://docs.google.com/forms/d/e/1FAIpQLSceU2lg2yzLaluEVWnGFD8wu0RG8x90BRJ_O_Sb7LIPv1Yrkg/viewform?embedded=true", "width" => "100%", "height" => "600px", "frameborder" => "0"}