.container
  .row.center.section.no-margin
    .row.no-margin
      %h3{style: "margin-bottom: 0"} Yikes!  Sorry about that!
    .row
      %h6.grey-text Our CEO accidentally spilt coffee on the server.
    .row
      = link_to :back, class: "btn-flat inline" do
        Go Back
      = link_to feedback_path, class: "btn dark-button inline" do
        Make us Better
