.container
  .row.section.no-margin
    .row
      %h3 Yikes!  That wasn't supposed to happen!
    .row.no-margin
      .col.s6
        .row
          %h6.grey-text Don't worry!  We're working on it!
        .row
          = link_to :back, class: "btn-flat inline" do
            Go Back
          = link_to feedback_path, class: "btn dark-button inline" do
            Make us Better
      .col.s6
        %iframe{:frameborder => "0", :height => "480", :src => "https://giphy.com/embed/o0vwzuFwCGAFO", :width => "100%"}


