.container.section
  .container
    %h3 Terms of Use & Community Guidelines
    %p.grey-text Last updated: October 23rd, 2018
    %h4 Introduction
    %p
      At Lumastic, we believe all great learning communities are centered around a culture of
      %b
        empathy, honesty, and trust.
      To create that culture, we need to
      %b
        ensure that all members feel safe and cared for on our platform.
      Part of ensuring that safety is being clear, open and honest about our own guidelines, rules, and policies.
    %p
      We strive to make these as
      %b
        simple as possible while still being comprehensive.
      The goal of this page is not to drown you in legalese until you submit to our whims.  The goal is for us to communicate the internal decisions that affect how you use our platform.
    %p
      %b
        Remember, this is as much your platform as it is ours.
      We might hold legal rights to the name, the software, and the logo, but you make it real.  We come to work to achieve a mission that serves you.  So, if anything seems fishy, unclear, or wrong,
      %b
        please contact us
      so we can rectify it with you.
    %p
      Alright, enough fluff, let's get into it.
    .divider

    %h4 Terms of Use

    %h5 Account Creation
    %p
      When you create an account on Lumastic, we ask for your name, email, and password.  This information helps us keep track of your contributions to the site, but more importantly it helps you build trust with members of your communities.
      %b People don't trust usernames, they trust people.
    %p
      %b You must be at least 13 years of age to create an account on Lumastic.
      If you know anyone who is under the age of 13, please contact us with their display name and we will take further action as necessary.  If you are less than 13 years of age, please go outside and play.  Be a kid.


    %h5 Information You Provide
    %h6 Account Information
    %p
      %b We will do our absolute best to keep your information safe, secure, and private.
      Unless we are legally obligated or the safety of you or another member is dependant on our compliance, we will never give your information to third parties, governments, or other members.
    %h6 Your Content
    %p
      %b You own all of the content you put on Lumastic,
      for better or for worse.  We won't judge.
      However, by posting to Lumastic you grant us a royalty-free, perpetual, irrevocable, non-exclusive, sublicensable, worldwide license to use, reproduce, distribute, perform, publicly display or prepare derivative works of your content. This license allow us to host and promote your content on Lumastic.  It does not allow us to exploit you or steal your content.
    %h6 Copyright Infringement
    %p
      %b The content you post must be yours.
      Do not post someone else's work in your name.  That's mean and wrong.  If you do that, we will delete your account - plain and simple.  If you believe that any content on Lumastic infringes your copyright, let us know.

    %h5 Information We Collect
    %p
      As you would suspect,
      %b we track your account usage on Lumastic.
      However, it is not to sell your data to advertisers or to do other malicious things.
      %b We track your usage to make Lumastic better.
      We use tools like Google Analytics to see where you get stuck using the site, how often you and others use particular features, etc.
    %p
      We also use this information to inform our marketing decisions both on and off the internet.

    %h5 Limit of Liability and Indemnity
    %p
      %b Although we care a lot, we are not responsible for any actions you take on Lumastic.
      As such, to the extent permitted by law, we are not liable to you for any incidental, consequential or punitive damages arising out of these terms, or your use or attempted use of Lumastic.  You will indemnify us from all losses and liabilities, including legal fees, that arise from these terms or relate to your use of Lumastic. We reserve the right to exclusive control over the defense of a claim covered by this clause. If we use this right then you will help us in our defense.  Your obligation to indemnify under this clause also applies to our affiliates, officers, directors, employees, agents and third party service providers.
    .divider
    %h4 Community Guidelines
    %h5 It's simple. Be kind.
    %p
      As you know,
      %b we wake up in the morning to enable and encourage the dreams of others.
      We want you to feel like the world is a sandbox where you can create the life you have imagined,
      %b but only if the things you build do not infringe upon the dreams of others.
    %p
      The following actions and behaviours are absolutely not tolerated on our platform.  If you engage in or promote any of these, we will immediately suspend your account and ban you from Lumastic indefinitely.  We understand that many of these behaviours are subjective.  Although we will always engage in productive discourse on how these should be interpreted, we still make the final call about implementation of interpretations.  We also hold every right to ban or suspend your account in circumstances not directly correlated to any of the following behaviours.
    .row.number-list
      .row
        .col.number
        .col.text Bullying and Harassment
      .row
        .col.number
        .col.text Hate Speech
      .row
        .col.number
        .col.text Pornography
      .row
        .col.number
        .col.text Harmful or Illegal Activities
      .row
        .col.number
        .col.text Spam
      .row
        .col.number
        .col.text Doxing

