.left-badge {
  float: left !important;
  margin-left: 0 !important;
  margin-top: 5px !important;
}
.inline-badge {
  display: inline-block !important;
  float: none !important;
  margin-left: 10px !important;
}
