.dark-button {
  background-color: lighten($primary-color, 10%) !important;
}
.btn-flat .left-icon {
  margin-right: 5px !important;
  float: left !important;

}
.icon-action {
  padding-right: 8px !important;
  i {
    margin-right: 5px;
  }
}