.dark-button {
  background-color: lighten($primary-color, 10%) !important;
}
.accent-button {
  background-color: darken($accent-color, 10%) !important;
}
.green-btn {
  background-color: $green-color !important;
}
.red-btn {
  background-color: $red-color !important;
}

.btn-flat.grey-btn {
  color: #9e9e9e;
}
.btn-flat.voted {
  padding-right: 0px;
  &.down{
    color: $red-color;
  }
  &.up{
    color: $green-color;
  }
}
.btn-flat .left-icon {
  margin-right: 5px !important;
  float: left !important;
}

.icon-action {
  &:hover {
    color: $secondary-color !important;
  }
  padding-right: 8px !important;
  i {
    margin-right: 5px;
  }
}
