.home-card-title {
  font-size: 20px !important;
}
.container-clickable {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.author{
  font-size: 1rem;
  img {
    margin-right: 10px;
  }
}
.contributors {
  color: $grey-text;
  font-size: .8rem;
  margin-left: 9px !important;
  img {
    margin-right: 0 !important;
    margin-left: -9px;
  }
  span {
    margin-left: 10px;
  }
}
.card .card-content {
  position: relative;
}

.card {
  &.light-grey {
    background-color: lighten(#dfdfdf, 10%);
  }
}

.card.horizontal .card-stacked {
  max-width: 100% !important;
}

.course-card {
  .title {
    height: 4rem;
  }
  h6 {
    margin-top: .25rem !important;
  }
  .course-info {
    span {
      color: $grey-text;
      font-size: .8rem;
      margin-left: 5px;
    }
  }
  .card-title {
    z-index: 5;
    text-shadow: 0px 0px 5px black;
    font-weight: 500;
  }
}
.container {
  width: 90%;
}

.course-card {
  .overlay-effect {
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba($primary-color, 0.2);
    filter: blur(8px);
    display: block;
    height: 0 !important;
    padding-bottom: 56.25% !important;
    overflow: hidden !important;
  }
  .card-image {
    display: block;
    height: 0 !important;
    padding-bottom: 56.25% !important;
    overflow: hidden !important;
  }
}