.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin-right: 0px;
  color: #cdcdcd;
  a {
    cursor: pointer;
    color: #cdcdcd;
    &.active {
      color: $accent-color;
    }
  }
  i {
    font-size: 2rem !important;
  }
  .btn-flat {
    height: 20px;
    line-height: 20px;
    i {
      font-size: 1.5rem !important;
      margin-right: 4px;
    }
  }
}

.comment {
  .info{
    display: inline;
    color: lighten($grey-text, 10%);
    font-size: .9rem;
    margin-top: 8px;
    .display-name {
      display: inline;
    }
    .time-ago {
      display: inline;
    }
  }
  .content {

  }
  .actions {
    margin: 5px 0px !important;
    a {
      color: $grey-text !important;
    }

    i {
      margin-right: 5px;
    }
  }
}

.comment-thread {
  border-left: 3px solid #e0e0e0;
  margin-left: 12px;
  li {
    margin-left: 12px;
  }
}



.reply-form {
  .comment-form {
    margin-left: 25px;
  }
  border-left: 3px solid #e0e0e0;
}