.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin-right: 16px;
  color: #cdcdcd;
  a {
    cursor: pointer;
    color: #cdcdcd;
    &.active {
      color: $accent-color;
    }
  }
  i {
    font-size: 2rem !important;
  }
  .btn-flat {
    height: 20px;
    line-height: 20px;
    i {
      font-size: 1.5rem !important;
      margin-right: 4px;
    }
  }
}

.comment-thread {
  border-left: 3px solid #e0e0e0;
  li {
    margin-left: 20px;
  }
}

.comment-card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 3px rgba(0,0,0,0.24);
  padding: 6px 24px 6px 6px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .comment-content{
    height: inherit;
    width: 100%;
    .display-name {
      font-size: 0.85rem;
      color: #CCCCCC;
      top: 0;
    }
    .actions {
      padding-top: 8px;
      a {
        cursor: pointer;
        font-size: 0.85rem;
        color: #CCCCCC;
        bottom: 0;
        i{
        }
      }
    }
    form {
      margin-bottom: 0;
    }
  }
}
.reply-form {
  .comment-card {
    margin-left: 20px;
  }
  border-left: 3px solid #e0e0e0;
}