
#play-btn {
  font-weight: 900;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 40px 0px 0px 0px;
  h2 {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    color: $accent-color;
  }

}

.vid-player-container {
  box-sizing: border-box;
  @include material-medium-shadow;
}
.vid-actions {
  i {
    font-size: 1rem;
  }
  .btn-small {
    margin-right: 5px;
  }
  .btn-flat {
    padding-right: 0px;
  }
}

.vid-iframe-container {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  background: white;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
  }
}
.vid-overlay-container {
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(#003A6E, 0.6);

  color: white;
  text-shadow: 0px 0px 4px black;

  font-size: 1.1rem;
}

.vid-button {
  flex: 1 1 0;
  margin: 10px;
  height: 70%;
  font-size: 16px;
  color: $bg-color;
  font-weight: bold;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  @include material-low-shadow;
  i {
    margin-bottom: 16px;
    font-size: 55px;
  }
  &:hover {
    @include material-hover;
    cursor: pointer;
  }
}
#showMore {
  &:hover {
    cursor: pointer;
  }
}

.red-vid-button {
  background-color: $red-color;
  &:hover {
    color: $accent-color;
  }
}
.yellow-vid-button {
  background-color: darken($secondary-color, 7%);
  &:hover {
    color: $accent-color;
  }
}

