
#play-btn {
  font-weight: 900;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 40px 0px 0px 0px;
  h2 {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    color: $accent-color;
  }

}

.vid-player-container {
  box-sizing: border-box;
  @include material-medium-shadow;
}
.vid-actions {
  i {
    font-size: 1rem;
  }
  .btn-small {
    margin-right: 5px;
  }
}

.vid-iframe-container {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  background: white;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
  }
}
.vid-overlay-container {
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(#003A6E, 0.6);

  color: white;
  text-shadow: 0px 0px 4px black;

  font-size: 1.1rem;
}

