.home-card-title {
  font-size: 20px !important;
}
.container-clickable {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.author{
  font-size: 1.25rem;
}
.card .card-content {
  position: relative;
}
.container {
  width: 90%;
}