.courses-sidebar {
  max-height: 650px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  .collection-item {
    color: lighten($primary-color,10%) !important;
  }
  .active {
    background-color: lighten($primary-color,10%) !important;
    color: white !important;
    a {
      color: white !important;
    }
  }
}

.course-list-stat {
  margin-bottom: 9px !important;
  i {
    margin-right: 12px;
  }
}