#nav-subject .dropdown {
  position: absolute;
  background-color: $bg-color;
  top: 60px;
  margin-left: -20px;
  @include material-high-shadow;
  z-index: 3000;
  text-align: left;
}
#nav-user .dropdown {
  position: absolute;
  background-color: $bg-color;
  top: 60px;
  min-width: 250px;
  right: 0;
  box-sizing: border-box;
  @include material-high-shadow;
  z-index: 3000;
  text-align: left;
}
