
.menu-button {
  display: inline-block;
  i {
    margin-right: 24px;
  }
}

.brand-logo img {
  height: 64px;
  padding: 2px 0px;
}
#search {
  width: 0;
  transition: width 0.3s;
  &:focus {
    width: 350px;
  }
}
#search-close {
  display: none;
}
