.main-nav {
  padding: 5px 30px;
  margin: 0;

  @include flex-container-centered-row;
  justify-content: flex-start;
  box-sizing : border-box;
  background-color: $primary-color;
  height: 70px;

  @include material-medium-shadow;
  position: fixed;
  top: 0;
  z-index: 2020;
  width: 100%;

}
.nav-left-container {
  display: flex;
  height: 100%;
}

.nav-logo-container {
  height: 100%;
  display: inline-block;
  flex-grow: 1;
  margin-right: 20px;
}

.nav-logo-image {
  height: 100%;
}


.nav-items {
     list-style-type: none;
     @include flex-container-centered-row;
     /*flex-grow: 5;*/
 }
 #nav-right-items {
   justify-content: flex-end;
   flex-grow: 1;
   padding-left: 0;
 }
 #nav-left-items {
   flex-grow: 2;
   padding-left: 0;
 }
 .nav-search-container {
   justify-content: center;
   flex-grow: 15;
   background-color: lighten($primary-color, 10%);
   @include flex-container-centered-row;
   border-radius: 3px;
   i {
     display: inline-block;
     box-sizing: border-box;
     font-size: 18px;
     padding: 10px 15px;
     color: $accent-color;
   }
   input {
     width: 100%;
     padding: 10px;
     font-size: 14px;
     color: black;
     box-sizing: border-box;
     border-radius: 2px;
     border: none;
     display: inline-block;
     background-color: lighten($primary-color, 10%);
     &:focus {
       outline: none;
       color: white;
     }
   }
 }

 .nav-item {
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;

    a {
      color: $bg-color;
      text-decoration: none;
      margin: 0;
    }
    .active {
      color: $accent-color;
    }
}

#sign-up-nav a {
  @include button-transparent-base($accent-color, $primary-color);
}

#login-nav a {
  @include button-transparent-base($secondary-color, white);
}
