#sidenav {
  @include material-medium-shadow;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lighten($primary-color, 80%);
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 0px;
  padding-top: 70px;
}
.sidenav-items {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.sidebar-header {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 20px;
  color: darken($bg-color, 60%);
  hr {
    margin-bottom: 0;
    color: darken($bg-color, 60%);
  }
}
.sidenav-link {
  text-decoration: none;
  color: $primary-color;
  &.active {
    color: $accent-color;
    .sidenav-item {
    background-color: $primary-color;
  }
  }
}
.sidenav-item {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0px 20px 20px;
  text-decoration: none;
  .sidebar-text {
    display: inline;
    padding: 0px 20px;
  }
  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
