.sidenav li {
  a {
    padding: 0 16px;
    &.subheader {
      color: $grey-text !important;
    }
    &.tiny {
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      color: $grey-text !important;
    }
    i {
      color: $primary-color !important;
      font-size: 1.6rem;
    }
  }
}