#sidenav {
  @include material-low-shadow;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lighten($primary-color, 80%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}
