@media #{$large-and-up} {
  .nav-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 0;
    align-items: center;
    justify-content: center;
    .f0 {
      flex-grow: 0;
      .brand-logo {
        position: relative !important;
        margin-left: 16px;
      }
    }
    .f1 {
      flex-grow: 1;
      margin: 0 20px;
    }
  }
}


//************************


.menu-button {
  display: inline-block;
  i {
    margin-right: 0px;
  }
}
.no-link-link {
  &:hover {
    cursor: pointer;
  }
}
.brand-logo {
  height: 64px;
  img {
    height: 64px;
    padding: 4px 0px;
  }
}


li#search-nav-item {
  height: 64px;
  width: 100%;
  form{
    height: 48px;
    margin: 8px 0px;
    background-color: lighten($primary-color, 10%);
    #search-form {
      height: 48px;
      #search-container{
        height: inherit;
        .search-icon{
          padding: 0px 13px;
          height: inherit;
          line-height: 48px;
          i {
            height: inherit;
            line-height: 48px;
          }
        }
        #search-input {
          height: 48px;
          line-height: 48px;
          margin: 0 !important;
          padding: 0 10px !important;
          color: white;
          border: none;
          &::placeholder {
            color: lighten($primary-color, 50%);
          }
          &:focus {
            border: none !important;
            box-shadow: none !important;
          }
        }
        #close-icon {
          display: none;
        }
      }
    }
  }
}



#subjectDropdown {
  min-width: 230px;
  height: auto;
}
.dropdown-content {
  min-width: 200px !important;
}
.user-nav span {
  min-width: 50px;
}
.user-nav .fa-user-circle {
  margin-right: 24px;
}
.user-nav i.right {
  margin-left: 10px;
}
.sidenav .user-view .background img{
  width: 100%;
}