.card
  .card-tabs
    %ul.tabs.tabs-fixed-width
      %li.tab
        %a.active{:href => "#info"} Lesson Info
      %li.tab
        %a{:href => "#materials"}
          Materials
          %span.new.badge 4
  .divider
  .card-content.vid-info-card
    #info= @lesson.lesson_info
    #materials Test 2
  .card-action
    = link_to '#', class: "waves-effect" do
      = material_icon.add.css_class('left')
      contribute

