<div class="card ">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#info">Lesson Info</a></li>
        <li class="tab "><a href="#materials">Materials <span class="new badge">4</span></a></li>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="card-content vid-info-card">
      <div id="info"><%= locals[:info] %></div>
      <div id="materials">Test 2</div>
    </div>
    <div class="card-action">
      <a href="#" class="waves-effect">Access Materials</a>
      <a href="#" class="waves-effect">Donate</a>
    </div>
  </div>
