.vid-player-container
  .vid-iframe-container

    #player

:javascript
  player = new Youtube.Player({
      video_id: '#{locals[:vid_id]}',
      https: true,
      params: {rel: '0', color: 'white', autoplay: '1'},
  });
  $('#player').replaceWith(player.get_iframe());

