.container.section
  = render 'components/community-header'
  .row
    .col.m4.s12
      = render 'lessonSidebar'
    .col.m8.s12
      = render 'form', lesson: @lesson
:javascript
  M.updateTextFields();

