<div class="collection" style="max-height: 400px; overflow-y: scroll;">
  <a href="#!" class="collection-item active" >Course Info</a>
  <a href="#!" class="collection-item ">Lesson 1</a>
  <a href="#!" class="collection-item">Lesson 2</a>
  <a href="#!" class="collection-item">Lesson 3</a>
  <a href="#!" class="collection-item ">Lesson 1</a>
  <a href="#!" class="collection-item">Lesson 2</a>
  <a href="#!" class="collection-item">Lesson 3</a>
  <a href="#!" class="collection-item ">Lesson 1</a>
  <a href="#!" class="collection-item">Lesson 2</a>
  <a href="#!" class="collection-item">Lesson 3</a>
  <a href="#!" class="collection-item ">Lesson 1</a>
  <a href="#!" class="collection-item">Lesson 2</a>
  <a href="#!" class="collection-item">Lesson 3</a>
  <a href="#!" class="collection-item ">Lesson 1</a>
  <a href="#!" class="collection-item">Lesson 2</a>
  <a href="#!" class="collection-item">Lesson 3</a>
</div>
<%= link_to "New Lesson", "#" %>