<% new = false if local_assigns[:new].nil? %>
<div class="collection courses-sidebar" >
  <%= link_to "Course Info", @path_course_info, :class => current_class?(path_course_info) + " collection-item" %>
  <% @lessons.each do |lesson|%>
    <%= link_to lesson.title, edit_course_lesson_path(@course, lesson), :class =>"collection-item" %>
  <%end%>
</div>
<!--Add Lesson Button-->

<%= link_to new_course_lesson_path(@course) do %>
  <%= material_icon.add.css_class("left") %> Add Lesson
<%end%>