<!--Setup-->
<div class="container">
  <div class="section"></div>
  <div class="section">
<!--    Page Title-->
    <div class="row">
        <h4 class=" header-with-button">Your Courses</h4>
        <%= link_to 'New Course', new_course_path, :class=>"right btn" %>
    </div>
<!--    Begin Collection-->
    <ul class="collection course-collection highlight ">
<!--      For Every Course-->
<!--      Make Collection Item-->
      <% @courses.each do |course| %>
        <%= render partial: '/courses/indexPartials/indexCollectionItem', locals: { course: course, tickets: @course_tickets[course.id.to_s] } %>
      <%end %>
    </ul>
<!--    End Collection-->
  </div>
<!--  End Section-->
</div>















<!--    <table class="responsive-table highlight">-->

<!--      <tbody>-->
        <%# @courses.each do |course| %>
<!--          <tr>-->
<!--            <td><%#= course.title %></td>-->
<!--            <td><%#= course.subject %></td>-->
<!--            <td><%#= course.published %></td>-->
<!--            <td><%#= link_to 'View Course', course %></td>-->
<!--            <td><%#= link_to 'Edit Course', edit_course_path(course) %></td>-->
<!--            <td><%#= link_to 'Destroy Course', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--            <td><%#= link_to 'Lessons', course_lessons_path(:course_id => course.id) %></td>-->
<!--          </tr>-->
        <%# end %>

<!--      </tbody>-->
<!--    </table>-->



