.section
  .row
    %center
      .card.paper-popup.wider.left-align
        .card-content
          %h4
            Making a course?
            %i Awesome!
          %h5.grey-text
            Start with the basics:
          = render('form', course: @course)
