.section
  %h5= locals[:sectionTitle]
  .row
    - if locals[:curation].any?
      - locals[:curation].each do |curator|
        .col.l4.m6.s12
          = render('components/community-card', :community => curator)
    - else
      Create something
      .col.s12
        = render('components/new-community-card')
