.section
  %h5= locals[:sectionTitle]
  .row
    - if locals[:contribution].any?
      - locals[:contribution].each do |contributor|
        .col.l4.m6.s12
          = render('components/course-card', :course => contributor, :community => contributor.community)
    - else
      You haven't contributed to any courses yet.
      %a{:href => "/communities/1/courses/1"} Need help getting started?
