.container.section
  .row
    .col.s4
      .avatar
      =image_tag("art-supplies-arts-and-crafts-ballpens-159644.jpg", class:"circle responsive-img", )
    .col.s8
      %h1 big name
      %p baker, explorer, adventurer, puzzler, nerd
  .row
    .col.s12
      %ul.tabs
        %li.tab.col.s3
          %a{:href => "#progress"} Learn
        %li.tab.col.s3
          %a{:href => "#progress"} Explore
        %li.tab.col.s3
          %a{:href => "#progress"} Connect
        %li.tab.col.s3
          %a{:href => "#progress"} Contribute
    #progress.col.s12
