.container.section
  .row
    .col.s4
      .avatar
      =image_tag("art-supplies-arts-and-crafts-ballpens-159644.jpg", class:"circle responsive-img", )
    .col.s8
      %h1 big name
      %p baker, explorer, adventurer, puzzler, nerd
  .row
    .col.s12
      %ul.tabs
        %li.tab.col.s3
          %a{:href => "#learn"} Learn
        %li.tab.col.s3
          %a{:href => "#explore"} Explore
        %li.tab.col.s3
          %a{:href => "#connect"} Connect
        %li.tab.col.s3
          %a{:href => "#contribute"} Contribute
    #learn.col.s12
      =render('courserow', locals:{courses:@courses, sectionTitle:"Continue Watching:"})
      .divider
      =render('courserow', locals:{courses:@courses, sectionTitle:"New Uploads In Your Communities:"})
      .divider
      =render('courserow', locals:{courses:@courses, sectionTitle:"Your Completed Courses:"})
    #explore.col.s12
      =render('courserow', locals:{courses:@courses, sectionTitle:"Courses Recommended For You:"})
      .divider
      =render('courserow', locals:{courses:@courses, sectionTitle:"Popular Courses:"})
      .divider
      =render('courserow', locals:{courses:@courses, sectionTitle:"New Uploads:"})
      .divider
    #connect.col.s12
      .section
        %h5 What's Happening in Your Communities:
        .row
          %ul.collection
            %li.collection-item.avatar
              =image_tag("Symbol.svg", class:"circle responsive-img", )
              %span.title Discussion Forum 1
              %p
                For Curator Community
                %br/
                Second Line
              %a.secondary-content{:href => "/communities/2"}
                %i.material-icons
                  =image_tag("Symbol.svg", class:"circle responsive-img", )
            %li.collection-item.avatar
              =image_tag("Symbol.svg", class:"circle responsive-img", )
              %span.title Discussion Forum 2
              %p
                For Lumastic Community
                %br/
                Second Line
              %a.secondary-content{:href => "/communities/1"}
                %i.material-icons
                  =image_tag("Symbol.svg", class:"circle responsive-img", )
            %li.collection-item.avatar
              =image_tag("Symbol.svg", class:"circle responsive-img", )
              %span.title Discussion Forum 3
              %p
                For Community Z
                %br/
                Second Line
              %a.secondary-content{:href => ""}
                %i.material-icons
                  =image_tag("Symbol.svg", class:"circle responsive-img", )
            %li.collection-item.avatar
              =image_tag("Symbol.svg", class:"circle responsive-img", )
              %span.title Discussion Forum 4
              %p
                For Community A
                %br/
                Second Line
              %a.secondary-content{:href => ""}
                %i.material-icons
                  =image_tag("Symbol.svg", class:"circle responsive-img", )
      .divider
      .section
        %h5 Your Followers:
      .divider
      .section
        =render('courserow', locals:{courses:@courses, sectionTitle:" "})
    #contribute.col.s12
      =render('courserow', locals:{courses:@courses, sectionTitle:"Start Creating:"})