@import 'main';

body {
  margin: 0;
  font-family: $font-stack;
  background-color: $bg-color;
}

.main-content-container {
  margin-top: 70px;
  width: 95%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
