/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
}

.main-nav {
  padding: 10px 15px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing : border-box;

  background-color: #003a6e;
  height: 70px;

  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  position: fixed;
  top: 0;
  z-index: 2020;
  width: 100%;

}

.nav-logo-container {
  height: 100%;
  display: inline-block;
  flex-grow: 1;
}

.nav-logo-image {
  height: 100%;
}

.nav-items {
     list-style-type: none;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     flex-grow: 5;
 }

 .nav-item {
    display: inline-block;
    padding: 20px;
    line-height: 50px;

}
.nav-item a {
  color: #f4faff;
  text-decoration: none;
}

.main-content-container {
  margin-top: 70px;
  width: 95%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
