.container.section
  = render('components/community-header')
  .row
    .col.s12
      .row.no-margin
        .col.s12
          %h5.header-with-link
            =material_icon.library_books
            Courses
          = link_to new_course_path(:community_id => @community.id), class: "icon-action btn-flat waves-effect " do
            = material_icon.library_add.css_class('left')
            Create
          .divider
        - @courses.each do |course|
          .col.l4.m6.s12
            = render('components/course-card', :course => course)