%center
  .section
    .container
      .card.row.paper-popup.wider.left-align
        .card-content
          %h4
            Edit Community Info
          = render 'form', community: @community, :btn_text => "Save"