= render 'components/community-header'
.container.section
  .row
    .col.s12
      .row.no-margin
        .col.s12
          %h5.header-with-link
            = icon('fas', 'users', class: "left")
            Members
          .divider
      .row.no-margin
        .col.s12
          %table.centered.highlight
            %thead
              %tr
                %th
                  Name
                %th
                  Role
                %th
                  Contributions
            %tbody
              - @members.each do |member|
                %tr
                  %td= member.user.try(:display_name)
                  %td= member.role
                  %td 1
