- flash.each do |type, message|
  - if type == "notice"
    :javascript
      $(function() {
          M.toast({html: "#{message}"});
      });
  - elsif type == "error"
    :javascript
      $(function() {
          M.toast({html: "#{message}"});
      });
  - else
    :javascript
      $(function() {
          M.toast({html: "#{message}"});
      });

