
<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">English</a></li>
    <li><a href="#!">Art</a></li>
    <li><a href="#!">Music</a></li>
    <li><a href="#!">Math</a></li>
    <li><a href="#!">Science</a></li>
    <li><a href="#!">History</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper container">
      <div class="left">
          <a href="#" data-activates="mobile-demo" class="menu-button">
            <i class="material-icons">menu</i>
          </a>
          <a href="#" class="brand-logo">
            <%= image_tag 'LumasticV16' %>
          </a>
        </div>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Subjects<i class="material-icons right">arrow_drop_down</i></a></li>
            <li>
              <form class=" hide-on-med-and-down"  >
                <div class="input-field" id="search-form">
                  <input id="search" type="search" placeholder="What would you like to learn?"required />
                  <label class="label-icon" for="search" ><i class="material-icons">search</i></label>
                  <i class="material-icons" id="search-close">close</i>
                  <div id="searchResults" ></div>
                </div>
              </form>
            </li>
            <li><a href="#" class="btn waves-effect waves-light">Sign Up</a></li>
            <li><a href="#" class="btn waves-effect waves-light lighten2">Login</a></li>
          </ul>
    </div>
  </nav>
</div>

<script type="text/javascript">
  $(".dropdown-trigger").dropdown();
</script>
