<div id="sidenav" style="width: 0px;">
  <ul>
    <p>Username</p>
    <li>My Courses</li>
    <li>Account Info</li>
    <li>Payment Info</li>
    <p>Teach</p>
    <li>Start Here</li>
    <li>Taught Courses</li>
    <li>Resource Center</li>
</div>
