<div class="dropdown" style="display: none;">
  <ul class="verticalnav-items">
    <%= link_to '#', :class => 'verticalnav-link '+current_class?('#') do %>
      <li class="verticalnav-item">
          <%=icon('fas', 'wrench', class: 'verticalnav-icon')%>
          <p class="verticalnav-text">Account Settings</p>
      </li>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, :class => 'verticalnav-link '+current_class?('#') do %>
      <li class="verticalnav-item">
          <%=icon('fas', 'door-open', class: 'verticalnav-icon')%>
          <p class="verticalnav-text">Sign Out</p>
      </li>
    <% end %>
</div>
